
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<div style="background-color:aqua">
    <h2 style="color:black; text-size-adjust:30%;text-align-last:center "> @TempData["FullName"] Your Registration is Successful</h2>
</div>
<div>
    <h5>Name: @TempData["FullName"]</h5>
    <h5>Age: @TempData["Age"]</h5>
    <h5>contact: @TempData["Contact"]</h5>
    <h5>Email: @TempData["email"]</h5>
</div>
